body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 2em;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
}
.btn-11 {
            border: white;
            background: green;
            background: linear-gradient(80deg, #32c0cc 10%, black 100%);
            color: #fff;
            overflow: hidden;
  top: 50%;
  left: 50%;
}