@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #b4f2ea;
}

.pie {
  width: 250px;
  height: 250px;
  display: block;
  position: relative;
  border-radius: 50%;
  background-color: #1fbba6;
  border: 2px solid #1fbba6;
  float: left;
  margin: 2em;
}
.pie .block {
  position: absolute;
  background: #fff;
  width: 230px;
  height: 230px;
  display: block;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

#time {
  font-size: 3em;
  position: absolute;
  top: 35%;
  left: 43%;
  color: #999999;
}

.degree {
  /*90 + ( 360 * .1 )*/
  background-image: linear-gradient(90deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
}